.from-group {
    margin: 30px auto;
    position: relative;
}

.form-imput-label {
    position: absolute;
}
.input-box{
    width: 100%;
    padding: 5px;
    border: none;
    border-bottom: 1px solid black;
    background: none;
    outline: none;
    color: rgb(255, 233, 106);
    font-size: 20px;
    letter-spacing: 4px;
}