.sign-up-form-container{
    margin: 30px 50px;
    .error-msg{
        color: rgb(255, 233, 106);
    }
    .submit-btn-container{
        display: flex;
        justify-content: center;
    }
    .button {
        border: 1px solid rgb(0, 0, 0);
        padding: 10px 20px;
        border-radius: 10px;
        background: rgba(0, 0, 0, 0.514);
        cursor: pointer;
        color: white;
        width: auto;
    }
    .sign-up-msg{
        text-align: center;
        font-size: large;
        color: rgb(255, 233, 106);
    }
}